@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Ubuntu+Mono:wght@400;700&display=swap');

body {
	background-opacity: 0.35;
	font-family: 'Inter', sans-serif;
	/* @apply bg-gradient-to-br from-primary to-secondary; */
	@apply bg-gradient-to-br from-black to-indigo-950 text-white;
}
.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

li > a {
	@apply bg-primary text-white px-2 py-1 text-center font-semibold block rounded text-sm;
}

li > a:hover {
	@apply bg-secondary;
}

button.add-btn,
li > a {
	@apply transition duration-150;
}

button.add-btn:focus,
li > a:focus {
	@apply ring-4 ring-gray-400;
}

button.add-btn {
	@apply bg-primary rounded text-white font-semibold px-4 py-2 block w-full select-none;
}

button.add-btn:hover {
	@apply bg-secondary;
}

button.add-btn:focus {
	@apply outline-none;
}

h2.title {
	@apply text-2xl font-black text-center text-white mt-2 mb-2;
}

.pending {
	@apply bg-amber-500;
}

.completed {
	@apply bg-emerald-500;
}

