/* @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Ubuntu+Mono&display=swap');
body {
	background-opacity: 0.35;
	font-family: 'Ubuntu Mono', monospace;

	/* font-family: 'Cutive Mono', monospace; */

	/* font-family: 'Major Mono Display', monospace; */
	/* @apply bg-gradient-to-br from-primary to-secondary; */
	@apply bg-gradient-to-br from-black to-gray-800;
}
.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}

li > a {
	@apply bg-primary text-white px-3 py-2 text-center font-semibold block rounded text-sm;
}

li > a:hover {
	@apply bg-secondary;
}

button.add-btn,
li > a {
	@apply transition duration-150;
}

button.add-btn:focus,
li > a:focus {
	@apply ring-4 ring-gray-400;
}

button.add-btn {
	@apply bg-primary rounded text-white font-semibold px-4 py-2 mt-2 mb-1.5 block w-full select-none;
}

button.add-btn:hover {
	@apply bg-secondary;
}

button.add-btn:focus {
	@apply outline-none;
}

h2.title {
	@apply text-2xl font-black text-center text-gray-700 mt-4 mb-3;
}

.pending {
	@apply bg-red-500;
}

.in-progress {
	@apply bg-yellow-400;
}

.completed {
	@apply bg-green-500;
}

